@page "/"
@using MixMate.Core.Entities
@rendermode InteractiveServer

<MudPopoverProvider /> @* For whatever reason this wasn't being picked up properly in MainLayout.razor so its here instead *@

<PageTitle>Mix Mate</PageTitle>

<h1>Mix Mate</h1>

@if (_errors.Count > 0)
{
    <h2>Error</h2>
    <ul class="=text-danger">
        @foreach (var error in _errors)
        {
            <li>@error</li>
        }
    </ul>
}

<InputFile class="form-control p-1 m-2" OnChange="@LoadFiles" multiple accept=".txt" />
    
<MudCard Class="m-2">
    <MudCardContent>
        <MudGrid Justify="Justify.SpaceBetween" Style="align-items: center">
            <MudItem>
                <MudText Typo="Typo.subtitle1">
                    @MainSongCardText
                </MudText>
            </MudItem>
            <MudItem xs="3">
                <MudSelect @bind-Value="_selectedMixingTechnique" Variant="Variant.Outlined" >
                    @foreach (string technique in _availableMixingTechniqueNames)
                    {
                        <MudSelectItem Value="@technique" />
                    }
                </MudSelect>
            </MudItem>
        </MudGrid>
    </MudCardContent>
</MudCard>

<MudDataGrid class="p-1 m-2" Items="_songs" T="Song" RowClick="@SetMainSong" Hover="true" RowStyleFunc="@RowStyleFunc">
    <Columns>
        <PropertyColumn Property="song => song.Title"/>
        <PropertyColumn Property="song => song.Artist" />
        <PropertyColumn Property="song => song.Album" />
        <PropertyColumn Property="song => song.Genre" />
        <PropertyColumn Property="song => song.Bpm" />
        <PropertyColumn Property="song => song.Duration" />
        <PropertyColumn Property="song => song.Key.GetFullKeyForDisplay()" />
    </Columns>
</MudDataGrid>
